[Desktop Entry]
Exec=biglinux-grub-restore
Icon=/usr/share/biglinux/grub-restore/grub-icon.svg
Name=Restore the installed system
Name[pt]=Restaurar o sistema instalado
Name[bg]=Възстановяване на инсталираната система
Name[cs]=Obnovit nainstalovaný systém
Name[da]=Gendan det installerede system
Name[de]=Installiertes System wiederherstellen
Name[el]=Επαναφορά του εγκατεστημένου συστήματος
Name[es]=Restaurar el sistema instalado
Name[et]=Taasta installitud süsteem
Name[fi]=Palauta asennettu järjestelmä
Name[fr]=Restaurer le système installé
Name[he]=שחזור המערכת המותקנת
Name[hr]=Vratiti instalirani sustav
Name[hu]=A telepített rendszer visszaállítása
Name[is]=Endurheimta uppsettu kerfið
Name[it]=Ripristina il sistema installato
Name[ja]=インストールされたシステムを復元する
Name[ko]=설치된 시스템 복원
Name[nl]=Herstel het geïnstalleerde systeem
Name[no]=Gjenopprett det installerte systemet
Name[pl]=Przywróć zainstalowany system
Name[ro]=Restaurarea sistemului instalat
Name[ru]=Восстановить установленную систему
Name[sk]=Obnoviť nainštalovaný systém
Name[sv]=Återställ det installerade systemet
Name[tr]=Yüklü sistemi geri yükle
Name[uk]=Відновити встановлену систему
Name[zh]=恢复已安装的系统
Categories=System;
StartupNotify=true
Terminal=false
Type=Application
