[Desktop Entry]
Exec=biglinux-grub-restore
Icon=/usr/share/biglinux/grub-restore/grub-icon.svg
Name=Restore installed system settings
Name[bg]=Възстановяване на инсталираните системни настройки
Name[cs]=Obnovení nastavení nainstalovaného systému
Name[da]=Gendan installerede systemindstillinger
Name[de]=Installierte Systemeinstellungen wiederherstellen
Name[el]=Επαναφορά εγκατεστημένων ρυθμίσεων συστήματος
Name[es]=Restaurar la configuración del sistema instalado
Name[et]=Taastage installitud süsteemi seaded
Name[fi]=Palauta asennetut järjestelmäasetukset
Name[fr]=Restaurer les paramètres système installés
Name[he]=שחזור הגדרות מערכת מותקנות
Name[hr]=Vraćanje instaliranih postavki sustava
Name[hu]=A telepített rendszerbeállítások visszaállítása
Name[is]=Endurheimta uppsettar kerfisstillingar
Name[it]=Ripristinare le impostazioni di sistema installate
Name[ja]=インストール済みのシステム設定を復元する
Name[ko]=설치된 시스템 설정 복원
Name[nl]=Geïnstalleerde systeeminstellingen herstellen
Name[no]=Gjenopprett installerte systeminnstillinger
Name[pl]=Przywracanie zainstalowanych ustawień systemowych
Name[pt]=Restaurar configurações do sistema instalado
Name[ro]=Restaurarea setărilor de sistem instalate
Name[ru]=Восстановление установленных системных настроек
Name[sk]=Obnovenie nainštalovaných systémových nastavení
Name[sv]=Återställ installerade systeminställningar
Name[tr]=Yüklü sistem ayarlarını geri yükleme
Name[uk]=Відновлення встановлених настройок системи
Name[zh]=还原已安装的系统设置
Categories=System;
StartupNotify=true
Terminal=false
Type=Application
X-KDE-ServiceTypes=KCModule
Type=Service

